<h2 mat-dialog-title>{{ titulo }} Orden de Detalle de Venta</h2>

<div mat-dialog-content class="category-select">
    <mat-list-item>{{id}} {{ editData?.idDetalleOrdenVenta }}</mat-list-item>
    <mat-divider style="padding-top: 4%;"></mat-divider>
  
  <form [formGroup]="detalleOrdenVentaForm" class="form-container">
    <div class="form-fields-container">
      <div class="form-field">
        <mat-form-field class="category-select">
          <mat-label>Orden de Venta</mat-label>
          <select matNativeControl formControlName="ordenVenta">
            <option value="" selected></option>
            <option *ngFor="let ordenVenta of ordenesVentas" [value]="ordenVenta.idOrdenVenta">
              {{ ordenVenta.idOrdenVenta }}: {{ ordenVenta.fechaDeOrden }}
            </option>
          </select>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="category-select">
          <mat-label>Producto</mat-label>
          <select matNativeControl formControlName="producto">
            <option value="" selected></option>
            <option *ngFor="let producto of productos" [value]="producto.idProducto">
              {{ producto.nombre }} ({{ producto.idProducto }})
            </option>
          </select>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="category-select">
          <input matInput formControlName="cantidad" placeholder="Cantidad" />
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="category-select">
          <input matInput formControlName="precioUnitario" placeholder="Precio Unitario" />
        </mat-form-field>
      </div>
    </div>
  </form>
  <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
    <button style="margin-left: 9%;" mat-raised-button color="primary" (click)="agregarOrdenDetalleVenta()">{{ actionBtn }}</button>
  </div>
</div>
