
  
  .menu-button {
    
    margin-right: 10px;
    
  }
  
  .page-title {
    font-size: 25px;
    color: rgb(255, 255, 255);
  }
  .header-toolbar{

    background-color: #db2424;
  }
  .icon-loco{
    color: #ffffff;
   
    
  }
  .large-icon-button .mat-icon {
  
    font-size: 30px; /* Ajusta el tamaño del icono según tus necesidades */
  }
  
  
  .fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  