<h2 mat-dialog-title>{{ titulo }} Venta</h2>
<div mat-dialog-content class="category-select">
  <mat-divider style="padding-bottom: 5%;"></mat-divider>
  <mat-list-item > {{id}} {{ editData?.idVenta }}</mat-list-item>
  <br>
  <form [formGroup]="ventaForm" >   
  <div class="form-field">
    <mat-form-field appearance="outline">
      <mat-label>Fecha de venta</mat-label>
      <input formControlName="fechaDeVenta" matInput type="date" placeholder="Fecha de venta">
    </mat-form-field>
  </div>
</form>
  <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
    <button style="margin-left: 9%;" mat-raised-button color="primary" (click)="agregarVenta()">{{ actionBtn }}</button>
  </div>
</div>
