<p></p>
<div class="container" style="margin-left: 10px; padding: 10px; margin-left: 10%;">
  <button mat-raised-button class="custom-red-button" (click)="openDialog()" style="height: 50px; margin-left: 30%; ">Agregar carrito de compra</button>
  <div style="margin-top: 10px;">
    <mat-form-field style="width: 25%;">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="escriba el usuario o fecha" #input>
    </mat-form-field>
    <div class="mat-elevation-z8" style="margin-top: 5px; width: 90%;">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="idCarrito">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.idCarrito}} </td>
        </ng-container>

        <!-- Usuario Column -->
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
          <td mat-cell *matCellDef="let row" class="nombre-cell"> {{row.usuario.nombreUsuario}} </td>
        </ng-container>

        <!-- Fecha de Creación Column -->
        <ng-container matColumnDef="fechaDeCreacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Creación </th>
          <td mat-cell *matCellDef="let row" class="nombre-cell"> {{row.fechaDeCreacion}} </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCIONES </th>
          <td mat-cell *matCellDef="let row" class="acciones-cell">
            <div class="acciones-buttons">
              <button mat-icon-button (click)="editarCarritoDeCompras(row)" color="primary">
                <mat-icon>editar</mat-icon>
              </button>
              <button (click)="eliminarCarritoDeCompras(row.idCarrito)" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <br>
          <td class="mat-cell" colspan="4">No se encontraron carritos de compras que coincidan con "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
